html {
  text-align: left;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > main,
body > footer {
  display: block;
  margin: 1rem auto;
  max-width: 33rem;
  text-align: left;
}

body > header {
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

blockquote {
  font-size: 125%;
  margin: 0;
  padding: 0;
}

p {
  margin: 1rem 0;
}

ol, ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

body > footer {
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: right;
}

body > footer ul {
  list-style-type: none;
}

body > footer ul li {
  display: inline;
}

body > footer ul li:after {
  content: ' | '
}

body > footer ul li:last-child:after {
  content: none;
}

@media print {
  html {
    font-family: serif;
  }

  body > header,
  body > main,
  body > footer {
    margin: 1rem 0;
    max-width: max-content;
    padding: 0;
  }
}
