<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Not Legal Advice</title>
    <link href=styles.css rel=stylesheet>
    <!-- Twitter Card -->
    <meta name=twitter:card content=summary>
    <meta name=twitter:title content="Not Legal Advice">
    <meta name=twitter:description content="quick guide to lawyer disclaimers">
    <meta name=twitter:creator content=@kemitchell>
    <!-- OpenGraph -->
    <meta name=og:type content=website>
    <meta name=og:title content="Not Legal Advice">
    <meta name=og:description content="quick guide to lawyer disclaimers">
  </head>
  <body>
    <header role=banner>
      <h1>Not Legal Advice</h1>
      <p><a href=https://notlegaladvice.law>notlegaladvice.law</a></p>
    </header>
    <main role=main>
{{content}}
    </main>
    <footer role=contentinfo>
      <ul>
        <li>&copy; <a href=https://kemitchell.com>K.E. Mitchell</a></li>
        <li><a href=https://github.com/kemitchell/notlegaladvice.law>Source Code</a></li>
        <li><a href=https://github.com/kemitchell/notlegaladvice.law/commits/master/index.html>Revision History</a></li>
      </ul>
    </footer>
  </body>
</html>
